
body {
  font-family: "Lato", sans-serif;
  background-color: #f1e7fe;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

.center{
  text-align: center;
}

.detail{
    margin-top: 30px;
    height: relative;
    text-align: center;
    border-style: solid;
    border-color: gray;
    border-width: 3px; 
    border-radius: 30px;
    color: black;
    font-size: 20pt;
    padding: 10px 10px 20px 10px;
    border: 1px blue;
    background-color: #d5b8ff;
    box-shadow: 10px 10px 5px #aaaaaa;
}

.tab{
  border: solid;
  margin-top: 50px;
  border-radius: 20px;
}

.but{
  margin-top: 40px;
}